Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Animation
Content/Antiquity_Swords
Content/Font
Content/Geometry
Content/Mannequin
Content/Material
Content/Mesh
Content/ParagonGideon
Content/Particle
Content/Texture
Content/ThirdPerson
Content/ThirdPersonCPP
Content/UI
Content/WhiteRocks
Content/WMAnimation