Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ActionRPG
Content/Animation
Content/Antiquity_Swords
Content/Font
Content/ParagonGideon
Content/Sound
Content/WhiteRocks
Content/WMAnimation