Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Animation
Content/Antiquity_Swords
Content/Developers
Content/Font
Content/Material
Content/Mesh
Content/ParagonGideon
Content/Particle
Content/Sound
Content/Texture
Content/WhiteRocks
Content/WMAnimation